.big_banner {
    background: url(../第二页/images/6131.jpg);
    background-attachment: fixed;
    background-position: center;
    min-height: 500px;
    margin: 50px 0 0 0;
}
.big_banner1 {
    background: rgba(0,0,0,0.8);
    min-height: 770px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
 .col-sm-4 {
    float: left;
}
.col-sm-4 {
    width: 33.33333333%;
}
.text-center {
    text-align: center;
}
.big_head {
    font-size: 40px;
    color: #fff;
    font-family: 'good_font';
    margin: 80px 0 60px 0;
}
.big_head {
    font-size: 40px;
    color: #fff;
    font-family: 'good_font';
    margin: 80px 0 60px 0;
}
img {
    vertical-align: middle;
}
.big_para {
    color: #979797;
    font-size: 16px;
    font-weight: bold;
    font-family: 'para_font';
    margin: 50px 0 50px 0;
}
.big_btn {
    background: #A270AC;
    width: 100px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border: none;
    margin: 20px 0 50px 0;
    transition: 1s ease; 
    border-radius: 4px;
}
.big_para {
    color: #979797;
    font-size: 16px;
    font-weight: bold;
    font-family: 'para_font'; 
    margin: 50px 10px 50px 30px;
}
.big_img {
    margin: 50px 0 0 20px;
    width: 300px;
    height: 220px;
}



.container {
    width: 1170px;
}
hr {
    width: 240px;
    height: 1px;
    background: #934C6E;
    border: none;
}
.tsd{
    margin:auto;  height: 400px;width: 33.33%; background-color: rgb(22, 21, 21); padding: 50px 10px 0 0;
}



.container {
    width: 1170px;
}
hr {
    width: 240px;
    height: 1px;
    background: #934C6E;
    border: none;
}



.about_head {
   
    font-weight: bold;

    margin: 140px 0 0 0;
}
h1 {
    color: #C974A4;
    font-size: 40px;
    margin: 5px 0 10px 0;
}
.about_para {
    color: #979797;
    font-size: 16px;
    font-weight: bold;
    font-family: 'para_font';
    margin: 50px 0 50px 0;
}
element.style {
    overflow: hidden;
    display: none;
}
element.style {
    overflow: hidden;
    display: block;
}
.about_para1 {
    color: #979797;
    font-size: 16px;
    font-weight: bold;
    font-family: 'para_font';
    margin: 30px 0 50px 0;
    display: none;
}

.read_btn {
    background: #90507C;
    border: none;
    outline: none;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning:focus, .btn-warning.focus {
    color: #fff;
    background-color: #DF8EBB;
    border-color: #985f0d;
}
.btn {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 4px;
}
